<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="SplitMate.mapper.DeviceUsageMapper">
    <resultMap id="DeviceUsageResultMap" type="SplitMate.domain.DeviceUsage">
        <id property="id" column="id"/>
        <result property="user.id" column="user_id"/>
        <result property="device.id" column="device_id"/>
        <result property="usageTime" column="usage_time"/>
        <result property="startTime" column="start_time"/>
        <result property="endTime" column="end_time"/>
    </resultMap>
    <resultMap id="DeviceResultMap" type="SplitMate.domain.Device">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="category" column="category"/>
    </resultMap>
    <resultMap id="UserResultMap" type="SplitMate.domain.User">
        <id property="id" column="id"/>
        <result property="username" column="username"/>
    </resultMap>
    <resultMap id="DeviceUsageWithUserNameResultMap" type="SplitMate.domain.DeviceUsage">
        <id property="id" column="id"/>
        <result property="user.id" column="user_id"/>
        <result property="device.id" column="device_id"/>
        <result property="usageTime" column="usage_time"/>
        <result property="startTime" column="start_time"/>
        <result property="endTime" column="end_time"/>
        <association property="device" javaType="SplitMate.domain.Device">
            <result property="name" column="device_name"/>
            <result property="category" column="device_category"/>
        </association>
        <association property="user" javaType="SplitMate.domain.User" resultMap="UserResultMap"/>
    </resultMap>

    <resultMap id="DeviceUsageWithDeviceNameResultMap" type="SplitMate.domain.DeviceUsage">
        <id property="id" column="id"/>
        <result property="user.id" column="user_id"/>
        <result property="device.id" column="device_id"/>
        <result property="usageTime" column="usage_time"/>
        <result property="startTime" column="start_time"/>
        <result property="endTime" column="end_time"/>
        <association property="device" javaType="SplitMate.domain.Device" resultMap="DeviceResultMap"/>
    </resultMap>

    <select id="getAllDeviceUsages" resultMap="DeviceUsageResultMap">
        SELECT * FROM device_usage
    </select>

    <select id="getDeviceUsageById" parameterType="Long" resultMap="DeviceUsageResultMap">
        SELECT * FROM device_usage WHERE id = #{id}
    </select>

    <select id="getDeviceUsageByUsername" parameterType="String" resultMap="DeviceUsageWithDeviceNameResultMap">
        SELECT
            ud.id,
            ud.user_id,
            ud.device_id,
            ud.usage_time AS usageTime,
            ud.start_time AS startTime,
            ud.end_time AS endTime,
            d.name,
            d.category
        FROM
            user u
                JOIN
            device_usage ud ON u.id = ud.user_id
                JOIN
            device d ON ud.device_id = d.id
        WHERE
            u.username = #{username}
    </select>

    <insert id="insertDeviceUsage" parameterType="SplitMate.domain.DeviceUsage" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO device_usage (user_id, device_id, usage_time, start_time, end_time)
        VALUES (#{user.id}, #{device.id}, #{usageTime}, #{startTime}, #{endTime})
    </insert>

    <update id="updateDeviceUsage" parameterType="SplitMate.domain.DeviceUsage">
        UPDATE device_usage
        SET user_id = #{user.id}, device_id = #{device.id}, usage_time = #{usageTime}, start_time = #{startTime}, end_time = #{endTime}
        WHERE id = #{id}
    </update>

    <delete id="deleteDeviceUsage">
        DELETE FROM device_usage WHERE id = #{id}
    </delete>

    <select id="findUpdatedDataSince" resultMap="DeviceUsageResultMap">
        SELECT * FROM device_usage WHERE last_updated > #{timestamp}
    </select>

    <select id="getDeviceUsageByMonth" resultMap="DeviceUsageWithUserNameResultMap">
        SELECT
            ud.*,
            u.username,
            d.name AS device_name,
            d.category AS device_category
        FROM
            user u
                JOIN
            device_usage ud ON u.id = ud.user_id
                JOIN
            device d ON ud.device_id = d.id
        WHERE
            ud.user_id = #{userId}
          AND ud.start_time BETWEEN #{startOfMonth} AND #{endOfMonth}
    </select>
    <select id="getDeviceUsageByDeviceId" parameterType="Long" resultMap="DeviceUsageResultMap">
        SELECT * FROM device_usage WHERE device_id = #{id} ORDER BY last_updated DESC LIMIT 1;
    </select>

</mapper>