<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="SplitMate.mapper.DeviceMapper">
    <resultMap id="DeviceResultMap" type="SplitMate.domain.Device">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="power" column="power"/>
        <result property="category" column="category"/>
        <result property="imagePath" column="image_path"/>
    </resultMap>

    <select id="getAllDevices" resultMap="DeviceResultMap">
        SELECT * FROM device
    </select>

    <select id="getDeviceById" parameterType="Long" resultMap="DeviceResultMap">
        SELECT * FROM device WHERE id = #{id}
    </select>

    <insert id="insertDevice" parameterType="SplitMate.domain.Device" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO device (name, power, category)
        VALUES (#{name}, #{power}, #{category})
    </insert>

    <update id="updateDevice" parameterType="SplitMate.domain.Device">
        UPDATE device
        <set>
            <if test="name != null">name = #{name},</if>
            <if test="power != null">power = #{power},</if>
            <if test="category != null">category = #{category},</if>
            <if test="imagePath != null">image_path = #{imagePath}</if>
        </set>
        WHERE id = #{id}
    </update>

    <delete id="deleteDevice" parameterType="Long">
        DELETE FROM device WHERE id = #{id}
    </delete>
    <select id="getDeviceByName" resultMap="DeviceResultMap">
        SELECT * FROM device WHERE name = #{name}
    </select>
    <select id="getDeviceByBLEAddress" resultMap="DeviceResultMap">
        SELECT * FROM device WHERE BLE_address = #{BLEAddress}
    </select>


</mapper>