<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="SplitMate.mapper.HouseMapper">

    <insert id="insertHouse" parameterType="SplitMate.domain.House">
        INSERT INTO house_info (house_status, landlord_id, landlord_name, address, name)
        VALUES (#{houseStatus}, #{landlordId}, #{landlordName}, #{Address}, #{Name});
    </insert>

    <update id="updateHouse" parameterType="SplitMate.domain.House">
        UPDATE house_info
        SET house_status = #{houseStatus},
            landlord_id = #{landlordId},
            landlord_name = #{landlordName},
            address = #{Address},
            name = #{Name}
        WHERE house_id = #{houseId};
    </update>

    <delete id="deleteHouse" parameterType="int">
        DELETE FROM house_info WHERE house_id = #{houseId};
    </delete>

    <select id="selectHouseById" parameterType="int" resultType="SplitMate.domain.House">
        SELECT * FROM house_info WHERE house_id = #{houseId};
    </select>

    <select id="selectAllHouses" resultType="SplitMate.domain.House">
        SELECT * FROM house_info WHERE house_status = 1;
    </select>

    <select id="selectHousesByLandLordName" parameterType="String" resultType="SplitMate.domain.House">
        SELECT * FROM house_info WHERE landlord_name LIKE CONCAT('%', #{name}, '%') and house_status = 1;
    </select>

    <select id="selectHousesByStatus" parameterType="int" resultType="SplitMate.domain.House">
        SELECT * FROM house_info WHERE house_status = #{status};
    </select>

    <select id="selectHousesByLandLordId" parameterType="int" resultType="SplitMate.domain.House">
        SELECT * FROM house_info WHERE landlord_id = #{id};
    </select>
</mapper>
